@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-barlow: 'Barlow Semi Condensed', sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-body {
  font-family: var(--font-jakarta); /* or --font-barlow depending on the primary font */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}
* {
  font-display: swap;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}